.fromzero {
    margin-top: 200px;

    &__plan {
        margin-top: 130px;

        &-title {
            font-family: 'Museo Sans Cyrl';
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            text-align: center;
        }

        &-list {
            margin-top: 120px;
        }
        &-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 70px;
            padding-left: 30px;
            font-family: 'Museo Sans Cyrl';
            font-weight: 500;
            font-size: 38px;
            line-height: 46px;
            margin-top: 100px;
            &:first-child {
                margin-top: 0;
            }
        }
        &-number {
            font-weight: 700;
            font-size: 45px;
            line-height: 54px;
            text-align: center;
            color: #FFFFFF;
            width: 70px;
            height: 70px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.8);
            background-color: $main-black;
        }
        &-ul {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
            gap: 35px;
        }
        &-li {
            width: calc(50% - 35px);
            font-weight: 300;
            font-size: 32px;
            line-height: 38px;
            padding-left: 45px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                top: 12px;
                left: 0;
                background-color: $main-black;
            }
        }
    }

    &__result {
        margin-top: 100px;
    }
}
@media screen and (max-width: 1950px) {
    .fromzero {
        &__plan {
            &-item {
                position: relative;
                padding-left: 0;
                font-size: 34px;
                line-height: 42px;
            }
            &-number {
                position: absolute;
                left: -10px;
                top: -13px;
            }
            &-text {
                padding-left: 60px;
                padding-right: 0;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .fromzero {
        margin-top: 150px;
        &__plan {
            &-title {
                font-size: 44px;
                line-height: 54px;
            }
            &-item {
                font-size: 30px;
                line-height: 38px;
            }
            &-number {
                top: -10px;
                font-size: 32px;
                line-height: 42px;
                width: 60px;
                height: 60px;
            }
            &-ul {
                margin-top: 0;
            }
            &-li {
                font-size: 28px;
                line-height: 34px;
                &:before {
                    top: 9px;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .fromzero {
        margin-top: 130px;
        &__plan {
            &-title {
                font-size: 40px;
                line-height: 50px;
            }
            &-item {
                font-size: 26px;
                line-height: 34px;
            }
            &-number {
                top: -7px;
                font-size: 26px;
                line-height: 34px;
                width: 50px;
                height: 50px;
            }
            &-li {
                font-size: 26px;
                line-height: 32px;
                &:before {
                    top: 6px;
                }
            }
        }
        
    }
}
@media screen and (max-width: 992px) {
    .fromzero {
        margin-top: 150px;
        &__plan {
            margin-top: 100px;
            &-title {
                font-size: 36px;
                line-height: 46px;
            }
            &-item {
                font-size: 22px;
                line-height: 30px;
                margin-top: 70px;
            }
            &-li {
                width: 100%;
                font-size: 22px;
                line-height: 30px;
                &:before {
                    top: 7px;
                    width: 12px;
                    height: 12px;
                }
            }
            &-number {
                top: -5px;
                font-size: 22px;
                line-height: 30px;
                width: 45px;
                height: 45px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .fromzero {
        margin-top: 100px;
        &__plan {
            margin-top: 80px;
            &-list {
                margin-top: 80px;
            }
            &-title {
                font-size: 30px;
                line-height: 40px;
            }
            &-item {
                font-size: 18px;
                line-height: 28px;
                margin-top: 50px;
            }
            &-number {
                font-size: 22px;
                line-height: 28px;
                width: 40px;
                height: 40px;
            }
            &-li {
                font-size: 20px;
                line-height: 26px;
                padding-left: 30px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .fromzero {
        margin-top: 80px;
        &__plan {
            &-title {
                font-size: 22px;
                line-height: 28px;
            }
            &-item {
                font-size: 16px;
                line-height: 19px;
                margin-top: 40px;
            }
            &-ul {
                gap: 30px;
            }
            &-li {
                font-size: 17px;
                line-height: 21px;
                padding-left: 25px;
                &:before {
                    top: 6px;
                    width: 9px;
                    height: 9px;
                }
            }
            &__result {
                margin-top: 70px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .fromzero {
        &__plan {
            &-list {
                margin-top: 60px;
            }
            &-title {
                font-size: 16px;
                line-height: 19px;
            }
            &-li {
                font-size: 14px;
                line-height: 17px;

            }
        }
    }
}