.header {
    padding-top: 71px;
    &__inner {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    &__logo {
        display: flex;
        gap: 35px;
        font-family: 'Museo Sans Cyrl';
        &-img {
            width: 85px;
        }
    }

    &__company {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        margin: 3px 0;
    }
    &__type {
        font-weight: 300;
        font-size: 28px;
        line-height: 34px;
        margin: 3px 0;
    }

    &__nav {
        margin-top: 26px;
    }

    &__contacts {
        display: flex;
        gap: 23px;
        align-items: center;
        &-logo {
            transition: all 0.3s;
            &:hover {
                filter: brightness(0);
            }
        }
    }
    &__phone {
        font-family: 'DIN Pro';
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        transition: all 0.3s;

        &-link {
            &:hover {
                color: #000;
            }
        }
    }
}

@media screen and (max-width: 1950px) {
    .header {
        padding-top: 40px;
        &__inner {
            justify-content: space-between;
        }
        &__logo {
            align-items: center;
        }
        &__company {
            font-size: 24px;
            line-height: 30px;
        }
        &__type {
            font-size: 18px;
            line-height: 23px;
        }
        &__nav {
            margin-top: 0;
        }
        &__contacts-logo {
            height: 25px;
        }
        &__phone {
            font-size: 18px;
            line-height: 25px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .header {

        &__logo {
            gap: 20px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        &__logo-img {
            width: 70px;
        }
        &__company {
            font-size: 18px;
            line-height: 20px;
        }
        &__type {
            font-size: 15px;
            line-height: 18px;
        }
        &__contacts {
            gap: 13px;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        &__nav {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
        &__logo {
            width: 100%;
            justify-content: center;
            &-img {
                width: 50px;
            }
        }
        &__contacts {
            gap: 20px
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        padding-top: 25px;

        &__inner {
            gap: 30px;
        }
        &__logo {
            gap: 13px;
            position: relative;
            &-img {
                width: 20px;
            }

        }
        &__type {
            position: absolute;
            width: 100%;
            text-align: center;
            left: calc(50vw - 15px);
            transform: translateX(-50%);
            bottom: -20px;
            font-size: 14px;
            line-height: 17px;
        }

        &__contacts {
            &-logo {
                height: 16px;
            }
        }

        &__phone {
            font-size: 14px;
            line-height: 17px;
        }
    }
}