.nav {

    &__list {
        display: flex;
        min-width: 660px;
        justify-content: space-between;
    }

    &__item {
        font-family: 'Museo Sans Cyrl';
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
    }
    &__link {
        transition: all 0.3s;
        &:hover {
            color: black;
        }
    }
}

@media screen and (max-width: 1950px) {
    .nav__list {
        justify-content: center;
        align-items:center;
        gap: 30px;
        min-width: unset;
    }

    .nav__item {
        font-size: 22px;
        line-height: 28px;
    }
}

@media screen and (max-width: 1400px) {
    .nav__item {
        font-size: 18px;
        line-height: 20px;
    }
}
@media screen and (max-width: 1200px) {
    .nav__list {
        gap: 25px;
    }
    .nav__item {
        font-size: 15px;
        line-height: 17px;
    }
}