.services {
    margin-top: 53px;;

    &__cards {
        margin-top: 113px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 700px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-text {
            min-width: 393px;
            text-align: center;
            padding: 9px 20px;
            transform: skewX(-45deg);
            background-color: $main-black;
            margin-top: auto;
            font-family: 'Museo Sans Cyrl';
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            color: white;
            span {
                display: block;
                transform: skewX(45deg);
            }
        }
    }
    &__img-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1950px) {
    .services {
        &__cards {
            margin-top: 75px;
            min-height: 550px;
        }
        &__card {
            &-img {
                max-height: 400px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .services {
        &__card {
            &-text {
                font-size: 25px;
                line-height: 30px;
                min-width: 280px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .services {
        &__cards {
            margin-top: 75px;
            min-height: 400px;
        }
        &__card {
            &-img {
                max-height: 300px;
            }
            &-text {
                font-size: 20px;
                line-height: 25px;
                min-width: 230px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .services {

        &__cards {
            min-height: 300px;
            margin-top: 40px;
        }
        &__card {
            &-img {
                max-height: 220px;
            }
            &-text {
                font-size: 18px;
                line-height: 23px;
                min-width: 200px;
            }
        }
    }
}
@media screen and (max-width:576px) {
    .services {
        &__cards {
            min-height: unset;
        }
        &__card {
            &-img {
                max-height: 170px;
            }
            &-text {
                margin-top: 20px;
                font-size: 14px;
                line-height: 17px;
                min-width: unset;
                padding: 1px 20px;
            }
        }
    }
}