.works {
    margin-top: 160px;
    &__block {
        margin: 57px auto 0;
    }
    &__img {
        border-radius: 35px;
        display: block;
        margin: 0 auto;
    }

    &__service {
        margin-top: 67px;
        padding-left: 200px;
        &-name {
            font-family: 'Museo Sans Cyrl';
            font-weight: 500;
            font-size: 32px;
            line-height: 167.5%;
            text-decoration-line: underline;
        }
        &-what {
            font-family: 'Museo Sans Cyrl';
            font-weight: 300;
            font-size: 28px;
            line-height: 167.5%;
        }
    }

    &__description {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 70px;
    }

    &__done {
        padding-left: 40px;
        background: url('../images/works/instr.png') no-repeat top 10px left;
        &-title {
            font-family: 'Museo Sans Cyrl';
            font-weight: 500;
            font-size: 32px;
            line-height: 167.5%;
        }
        &-item {
            padding-left: 30px;
            font-family: 'Museo Sans Cyrl';
            font-weight: 300;
            font-size: 28px;
            line-height: 167.5%;
            position:relative;
            &:before {
                content: '';
                position: absolute;
                width: 14px;
                height: 14px;
                border-radius: 100%;
                background-color: $main-black;
                top: 14px;
                left: 0px;
            }
        }
    }

    &__result {
        padding-left: 40px;
        background: url('../images/works/star.png') no-repeat top 10px left;
        &-title {
            font-family: 'Museo Sans Cyrl';
            font-weight: 500;
            font-size: 32px;
            line-height: 167.5%;
        }
        &-item {
            padding-left: 30px;
            font-family: 'Museo Sans Cyrl';
            font-weight: 300;
            font-size: 28px;
            line-height: 167.5%;
            position:relative;
            &:before {
                content: '';
                position: absolute;
                width: 14px;
                height: 14px;
                border-radius: 100%;
                background-color: $main-black;
                top: 14px;
                left: 0px;
            }
        }
    }

    &__more {
        display: block;
        margin: 120px auto 0;
        font-family: 'Museo Sans Cyrl';
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: #FFFFFF;
        padding: 18px 123px;
        background: $main-black;
        border-radius: 216px;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
        div {
            transition: all 0.3s;
            position: relative;
            top: 0;
        }
        img {
            transition: all 0.3s;
            position: absolute;
            top: 200%;
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover {
            div {
                top: -200px;
            }
            img {
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}

@media screen and (max-width: 1950px) {
    .works {
        &__service {
            padding-left: 100px;
        }
        &__description {
            gap: 0;
        }
    }
}

@media screen and (max-width: 1400px) {
    .works {
        &__service {
            &-name {
                font-size: 28px;
            }
            &-what {
                font-size: 24px;
            }
        }
        &__done, &__result {
            background-position: left top 5px;
            &-title {
                font-size: 28px;
            }
            &-item {
                font-size: 24px;
                &:before {
                    width: 12px;
                    height: 12px;
                    top: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .works {
        &__service {
            padding-left: 60px;
            &-name {
                font-size: 24px;
            }
            &-what {
                font-size: 20px;
            }
        }
        &__done, &__result {
            &-title {
                font-size: 24px;
            }
            &-item {
                font-size: 20px;
                &:before {
                    top: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .works {
        margin-top: 100px;
        &__service {
            padding-left: 40px;
            &-name {
                font-size: 20px;
            }
            &-what {
                font-size: 18px;
            }
        }
        &__done, &__result {
            width: 50%;
            background-position: left top 2px;
            &-title {
                font-size: 20px;
            }
            &-list {
                margin-left: -30px;
            }
            &-item {
                font-size: 18px;
                &:before {
                    top: 8px;
                }
            }
        }
        &__more {
            margin-top: 100px;
            padding: 6px 50px;
            font-size: 26px;
            img {
                height: 60%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .works {
        margin-top: 80px;
        &__service {
            margin-top: 30px;
            padding-left: 20px;
            &-name {
                font-size: 18px;
            }
            &-what {
                font-size: 16px;
            }
        }
        &__description {
            flex-wrap: wrap;
            margin-top: 30px;
            gap: 30px;
        }
        &__done, &__result {
            width: 100%;
            background-position: left 3px top 3px;
            background-size: 20px;
            &-title {
                font-size: 18px;
            }
            &-item {
                font-size: 16px;
                &:before {
                    width: 10px;
                    height: 10px;
                    top: 8px;
                }
            }
        }
        &__more {
            margin-top: 80px;
            padding: 6px 40px;
            font-size: 22px;
            line-height: 28px;
            img {
                height: 60%;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .works {
        &__service {
            &-name {
                font-size: 16px;
            }
            &-what {
                font-size: 14px;
            }
        }
        &__description {
            gap: 20px;
        }
        &__done, &__result {
            &-title {
                font-size: 16px;
            }
            &-item {
                font-size: 14px;
                &:before {
                    width: 8px;
                    height: 8px;
                    top: 8px;
                }
            }
        }
        &__more {
            margin-top: 60px;
            padding: 6px 40px;
            font-size: 18px;
            line-height: 24px;
            img {
                height: 60%;
            }
        }
    }
}
@media screen and (max-width: 360px) {
    .works {
        &__done, &__result {
            &-item {
                padding-left: 20px;
            }
        }
    }
}